<footer class="site-footer">

  <div class="container">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class='row'>
        <div class="col gutters-d span-3-d">
          <img class='homepage' src='{{ site.url }}/assets/dacha.png'>
        </div>
        <div class="col gutters-d span-3-d">
          <img class='homepage' src='{{ site.url }}/assets/from_enterance.png'>
        </div>
        <div class="col gutters-d span-3-d">
          <img class='homepage' src='{{ site.url }}/assets/monestary_view.png'>
        </div>
        <div class="col gutters-d span-3-d">
          <img class='homepage' src='{{ site.url }}/assets/pelicans.jpg'>
        </div>
      </div>
      <div class='row'>
        <p style="padding-top:10px;">Contributions to St. Peter’s Monastery Foundation are tax-exempt and are deeply appreciated. Glory to God for all His gifts.</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style='padding-top:10px;'>
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="X3GJJHZ965DNS">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
    </div>

  </div>

</footer>
