<footer class="site-footer">

  <div class="container">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class='row'>
        <div class="col gutters-d span-3-d">
          <img class='homepage' src='{{ site.url }}/assets/dacha.png'>
        </div>
        <div class="col gutters-d span-3-d">
          <img class='homepage' src='{{ site.url }}/assets/from_enterance.png'>
        </div>
        <div class="col gutters-d span-3-d">
          <img class='homepage' src='{{ site.url }}/assets/monestary_view.png'>
        </div>
        <div class="col gutters-d span-3-d">
          <img class='homepage' src='{{ site.url }}/assets/pelicans.jpg'>
        </div>
      </div>
    </div>

  </div>

</footer>
